.popoverContent {
  z-index: 50;
  width: 18rem;
  border-radius: 0.375rem;
  border: 1px solid hsl(var(--border));
  background-color: hsl(var(--popover));
  padding: 1rem;
  color: hsl(var(--popover-foreground));
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  outline: none;
}

.popoverContent[data-state="open"] {
  animation: popover-in 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.popoverContent[data-state="closed"] {
  animation: popover-out 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.popoverContent[data-state="closed"] {
  animation-fill-mode: forwards;
  animation-name: fade-out-0;
}

.popoverContent[data-state="open"] {
  animation-fill-mode: forwards;
  animation-name: fade-in-0;
}

.popoverContent[data-state="closed"] {
  animation-fill-mode: forwards;
  animation-name: zoom-out-95;
}

.popoverContent[data-state="open"] {
  animation-fill-mode: forwards;
  animation-name: zoom-in-95;
}

.popoverContent[data-side="bottom"] {
  animation-fill-mode: forwards;
  animation-name: slide-in-from-top-2;
}

.popoverContent[data-side="left"] {
  animation-fill-mode: forwards;
  animation-name: slide-in-from-right-2;
}

.popoverContent[data-side="right"] {
  animation-fill-mode: forwards;
  animation-name: slide-in-from-left-2;
}

.popoverContent[data-side="top"] {
  animation-fill-mode: forwards;
  animation-name: slide-in-from-bottom-2;
}

@keyframes popover-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes popover-out {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

@keyframes fade-out-0 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in-0 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoom-out-95 {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

@keyframes zoom-in-95 {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slide-in-from-top-2 {
  from {
    transform: translateY(-0.5rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-in-from-right-2 {
  from {
    transform: translateX(0.5rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-from-left-2 {
  from {
    transform: translateX(-0.5rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-from-bottom-2 {
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(0);
  }
} 