.slider {
  position: relative;
  display: flex;
  width: 100%;
  touch-action: none;
  user-select: none;
  align-items: center;
}

.sliderTrack {
  position: relative;
  flex-grow: 1;
  height: 0.125rem;
  overflow: hidden;
  border-radius: 9999px;
  background-color: hsl(var(--secondary));
}

.sliderRange {
  position: absolute;
  height: 100%;
  background-color: hsl(var(--primary));
}

.sliderThumb {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid hsl(var(--background));
  background-color: hsl(var(--foreground));
  ring-offset-background: ring-offset-background;
  transition: colors;
  focus-visible:outline-none;
  focus-visible:ring-2;
  focus-visible:ring-ring;
  focus-visible:ring-offset-2;
  disabled:pointer-events-none;
  disabled:opacity-50;
} 